#select-box .label-selectBox {
  position: relative;
  font-size: 14px;
  color: #71b091;
  padding-bottom: 2px;
  width: 80%;
  overflow-y: scroll;
}
#select-box .label-selectBox.required::after {
  content: "*";
  color: red;
  font-size: 14px;
}

#select-box .custom-select:disabled {
  color: #000000;
  background-color: transparent ; 
  font-size: 14px;
}
#select-box .custom-select {
  color: #000000;
  font-size: 14px;
  border-radius: 2px;
  appearance: none;
  outline: none;
  background-color: transparent ; 
}
#select-box .not-focus-label-selectBox {
  position: relative;
  font-size: 14px;
  color: #71b091;
  padding-bottom: 2px;
  width: 80%;
  overflow-y: scroll;
}
#select-box .not-focus-label-selectBox.required::after {
  content: "*";
  color: red;
  font-size: 14px;
}

#select-box ::-webkit-scrollbar {
  box-shadow: 0px 0 0px #71b091 !important;
}

#select-box .custom-select {
  height: calc(1.5em + .75rem + 8px);
  border: 1px solid #bfbebe;
}
