@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");

//Section Header
.section-title {
  font-size: 16px;
}
.customFilterBtn:hover{
  color: #fff !important;
}
// Navigation
.finance-nav {
  margin-bottom: 10px;
}
.bullet {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #999;
}
.active-bullet {
  background-color: #0184ff;
  border: 1px solid #0184ff;
}
.active {
  color: #0184ff;
}
.divider {
  border-bottom: 1px solid #e7e7e7;
}
.custom-inline-btn {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #0184ff;
  background-color: #0184ff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

// Stat Table
.stat-thead {
  margin-bottom: 10px;
}
.stat-thead span {
  font-size: 11px;
  font-weight: bold;
}
.stat-tr {
  margin-bottom: 5px;
}
.stat-tr span:nth-child(2) {
  color: green;
}
.stat-tr span {
  font-size: 12px;
}

.badge-success {
  background: #d4fcb4;
  padding: 8px 10px;
  color: #19c90a;
  border-radius: 50%;
}

.badge-primary {
  background: #b4ebfc;
  padding: 8px 10px;
  color: #15addc;
  border-radius: 50%;
}

.badge-danger {
  background: #fcb4b4;
  padding: 8px 10px;
  color: #fd1818;
  border-radius: 50%;
}

.ccexp_pagination {
  display: flex;
  justify-content: space-between;
}

.ccexpt__action__btn button span {
  color: #c4c4c4;
}

.pagination .pagination-item.selected a {
  color: #2f80ed;
}

// Progress Bar
.unit-progress {
  display: flex;
  justify-content: space-between;
}
.unit-progress span {
  font-size: 12px;
}

// Mini Card
.single-stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.mini-card-amt {
  font-weight: 500;
  font-size: 15px;
}

// Filter data
.filter-title h4 {
  font-weight: 600;
  color: #4f4f4f;
}
.income-amt-due {
  color: #ff015c;
}
.income-amt-collected {
  color: #0ac028;
}
.income-total {
  line-height: 10px;
}
.income-total span {
  font-size: 11px;
  margin-right: 10px;
  font-weight: 500;
}
.filter-toggle {
  border: 1px solid #aaaaaa;
  height: 25px;
  padding: 0 !important;
}
.dropdown-label {
  margin-right: 5px;
  font-size: 12px;
  color: #aaaaaa;
}

//Accordion Data Table
.chevron {
  color: #aaaaaa;
}
.finance-col-two {
  width: 100%;
}
.accordion-area {
  position: relative;
  width: 100%;
}
.custom-accordion {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin: 5px 0px;
}
.custom-accordion span {
  font-size: 17px;
  font-weight: 500;
}
.accordion-right {
  display: flex;
}
.row-count {
  margin-right: 15px;
  background-color: rgba(1, 132, 255, 0.16);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-count span {
  color: #0184ff;
  font-size: 12px;
}

//profit and loss page

//title and subtitle
.pl-title {
  font-size: 22px;
}
.pl-subtitle-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.pl-subtitle {
  font-size: 12px;
}

//P&L Statements

//PL Table Filter
.pl-table-filter {
  display: flex;
  position: relative;
  width: 100%;
}
.pl-blank {
  width: 31%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
}
.pl-month-filter {
  width: 23%;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.filtered-month {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
}
.pl-year-filter {
  width: 23%;
  border-right: 1px solid #dbdbdb;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.filter-dropdown {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pl-filter-placeholder {
  font-size: 11px;
}
.margin-right-5 {
  margin-right: 5px;
}

//PL Table Header styles
.pl-table-header-data {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #e7e3e3;
}
.pl-total {
  width: 31%;
  border-left: 1px solid #dbdbdb;
  padding: 5px;
  font-size: 18px;
}
.pl-month-total {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  padding: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.pl-year-total {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.pl-income-total {
  color: #0eb73e;
}
.pl-expense-total {
  color: #ff2c2c;
}

//PL Category styles
.pl-cat-data {
  display: flex;
  position: relative;
  width: 100%;
}
.pl-cat {
  width: 31%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
.pl-month-blank {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
}
.pl-year-blank {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 2px 5px;
}

//PL Sub Category Styles
.pl-sub-cat-data {
  display: flex;
  position: relative;
  width: 100%;
}
.pl-sub-cat {
  width: 31%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
}
.pl-month-data {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
  color: #636363;
}
.pl-year-data {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
}

// PL Category Total Styles
.pl-cat-total {
  display: flex;
  position: relative;
  width: 100%;
}
.pl-cat-bold {
  width: 31%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.pl-month-bold {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.pl-year-bold {
  width: 23%;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  padding: 2px 5px;
  font-size: 13px;
  font-weight: 700;
}
.pl-net-amt {
  color: #0d78db;
}
.pl-net-pct {
  color: #0eb73e;
}

// ** Skeleton
.skeleton-loader-background {
  width: 100%;
  height: 15px;
  display: block;
  background: lightgray;
}

.skeleton-loader-gradient {
  width: 100%;
  height: 15px;
  display: block;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 80%
    ),
    lightgray;
  background-repeat: repeat-y;
  background-size: 50px 200px;
  background-position: 0 0;
}

.skeleton-loader:empty {
  width: 100%;
  height: 15px;
  display: block;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.39),
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.267) 80%
    ),
    rgb(228, 227, 227);
  background-repeat: repeat-y;
  background-size: 50px 500px;
  background-position: 0 0;
  animation: shine 1s infinite;
}

.skeleton-mb-1 {
  margin-bottom: 5px;
}
.income_details_loading {
  min-width: 100%;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
.filter__btn {
  background-color: #0184ff;
  color: #fff;
  border-radius: 5px;
}

.colorPicker {
  width: 100%;
  border: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel_btn_modal {
  background-color: #aaaaaa;
}
.colorPicker input {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.colorPicker span {
  flex: 1;
}
.dark-back {
  background-color: rgba(143, 143, 143, 0.06);
}
.blue-back {
  background-color: rgba(1, 132, 255, 0.07);
}
.stat-rank-total {
  padding: 10px 40px;
}
.stat-rank-total span {
  font-size: 17px;
  font-weight: 600;
}
@keyframes shine {
  to {
    background-position: 100% 0;
  }
}

.m-l-5 {
  margin-left: 5px;
}

.cat-action-icon {
  font-size: 22px;
  cursor: pointer;
}

.category_btns_expense {
  display: flex;
}
.category_btns_expense > button:first-child {
  margin-right: 5px;
}

.category_item {
  display: flex;
  justify-content: space-between;
}

.sch-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-right: 10px;
}

.expense_state_alignment {
  flex: 1;
  text-align: center;
}


.stat-table{
  height: fit-content;
  max-height: 550px;
  overflow-y:auto;
}

@media (min-width:1200px) and (max-width:1800px) {
  .rank-title {
    padding-left: 12px;
  }
  .stat-table{
    max-height: 100%;
    overflow-y: auto;
  }
}


@media (min-width:768px) and (max-width:1200px) {
  .rank-title {
    padding-left: 5px;
  }
}

@media (min-width:300px) and (max-width:768px) {
  .rank-title {
    padding-left: 12px;
  }
}