button.member_primary_btn_style {
  background-color: #0b82fa;
  transition: all 0.3s ease;
  color: #ffffff;
  border: 2px solid #0b82fa;
  box-sizing: 0px 4px 6px rgba(29, 74, 67, 0.15);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 14px;
}

button.member_primary_btn_style:hover {
  background-color: #0b82fa;
  border: 2px solid #0b82fa;
}

button.member_primary_btn_style:active {
  background-color: #0b82fa;
  border: 2px solid #0b82fa;
  color: #ffffff;
}

button.member_primary_btn_style:focus {
  background-color: #0b82fa;
  border: 2px solid #0b82fa;
  color: #ffffff;
}

.stepperSection {
  margin-right: 0;
}
.MuiStepper-horizontal {
  flex-direction: column !important;
}

.stepperCard {
  margin-left: -13px;
}

.paymentCard {
  padding-bottom: 0;
}

.uploadImg {
  border: 1px dotted #bbb4b4;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.headerText {
  font-size: 14px;
}

.verticalText {
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  border-right: 1px solid #bec2c7;
  top: -14px;
  left: 0;
  height: 480px;
  width: 100%;
}

.verticalText > h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 4em;
  color: rgb(145, 137, 137);
  text-transform: uppercase;
  text-orientation: upright;
  text-align: start;
  writing-mode: vertical-lr;
  text-transform: rotate(180deg);
  margin: 0px auto;
}

.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel,
.MuiStepConnector-alternativeLabel {
  display: none;
}

.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
  text-align: start;
}

.MuiStepLabel-label.MuiStepLabel-active {
  background: #d9edff;
  color: rgba(15, 11, 11, 0.87);
  font-weight: 500;
  width: 250px;
}

.iconsColor {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #0783fb;
  background: #d9edfe;
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.bgActive {
  background-color: #d9edff;
}
.countBadge {
  width: 30px;
  border-radius: 50% !important;
  background-color: #1e6fbf;
  font-size: 16px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.headerIcons {
  font-size: 20px;
}
.searchBar > i {
  font-size: 24px;
  margin-left: -30px;
  color: #bdb4b4;
}
.searchBar > input {
  border-radius: 10px;
  width: 280px;
  height: 40px;
}
.MuiButton-label {
  width: 100%;
  font-size: 16px;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  font-weight: bold;
}

.eventImage {
  flex-shrink: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.vr {
  border-left: 2px solid rgb(0, 0, 0);
  height: 50px;
  margin-right: 10px;
}
.backgroundImgAndText {
  height: 150px;
  padding: 3rem;
  /* background-image: url(../../../assets/img/backgrounds/backgroundImage.png); */
  background-repeat: no-repeat;
  background-size: cover;
}
.one {
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #0184ff;
  padding: 10px 30px 8px 8px;
  font-size: 20px;
}
.two {
  border-left: none;
  border-right: none;
  border: 2px solid #0184ff;
  padding: 10px 30px 8px 8px;
  font-size: 20px;
}
.three {
  border-radius: 0px 10px 10px 0px;
  border: 2px solid #0184ff;
  padding: 10px 30px 8px 8px;
  font-size: 20px;
}
.shareBtns div i {
  color: #0184ff;
  margin-left: 20px;
}
.social div i {
  color: #0184ff;
  margin-left: 24px;
}

.headerSection {
  background: linear-gradient(rgba(255, 255, 255, 0.6222864145658263) 100%);
}

.eventPreviewText h1 {
  font-size: 34px;
  color: #0184ff;
  font-weight: bold;
}
.eventPreviewText p {
  font-size: 16px;
  color: #000;
}
.dv {
  width: 100px;
  display: inline-table;
}
.dv hr {
  border: 1px solid;
}
.eventSection {
  width: 100px;
}
.tab.active {
  background-color: #ccc;
}

