#column-firstName {
  width: 90% !important;
}

.fotter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
  width: 100%;
}

.messageForm {
  justify-content: space-evenly;
}

i {
  color: #00b2ff;
}

.massangerText {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.message,
p {
  font-family: "Roboto";
  margin-bottom: 5px;
}

.name {
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
  bottom: 15%;
}

.message {
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 0.7rem;
  position: relative;
}

.theres {
  white-space: nowrap;
  margin-left: 250px;
  background-color: #00b2ff;
}

.ours {
  right: 25%;
  background-color: #e9ebee;
  color: black;
}

#message {
  background-color: #e9ebee;
  border: none;
  border-radius: 20px;
  padding: 5px;
}

.x {
    position: relative;
    float: right;
  top: -35px;
  right: -10px;
  position: relative;
  float: right;
  top: -35px;
  right: -10px;
}

.button {
  position: relative;
  float: right;
  top: -10px;
  right: -10px;
}

.primary {
  background: #00a6e1 !important;
  color: #fff !important
}
.MuiDialog-paperWidthSm{
  overflow: hidden;
}